<div id="formGlobal">
	<div id="formContainer">

		<h2>Login</h2>
		<form id="formLogin" action="" method="post">
			<input class="loginInpute" id="email" type="text" name="email" placeholder="Email">
			<input class="loginInpute" id="password" type="password" name="password" placeholder="Mot de passe">

			<button>Envoyer</button>
		</form>
	</div>
</div>
