<div class="formContainer">
	<h2>Login</h2>
	<form class="form" action="/login" method="post">
		<p>{{error.password}}</p>
		<input class="Inpute" id="email" type="text" name="email" placeholder="Email">
		<p>{{error.email}}</p>
		<input class="Inpute" id="password" type="password" name="password" placeholder="Mot de passe">

		<button type="submit">Envoyer</button>
	</form>
</div>
