<header>
	<nav>
		<ul id="barNav">
			<li>
				<a class = "link" href="#homePage">Accueil</a></li>
			<li>
				<a class = "link" href="#about">A propos</a></li>
			<li>
				<a class = "link" href="#works">Projets</a></li>
			<li>
				<a class = "link" href="#contact">Contact</a></li>
		</ul>
	</nav>
</header>
