<header>
	<nav>
		<ul id="barNav">
			<li>
				<a href=""></a>Accueil</li>
			<li>
				<a href=""></a>A propos</li>
			<li>
				<a href=""></a>Projets</li>
			<li>
				<a href=""></a>Contact</li>
		</ul>
	</nav>
</header>
