{% extends "../base.twig" %}

{% block main %}
	<main>
		<section>
			<h2>
				Première section</h2>
			<article>
				<h3>premier article</h3>
			</article>
		</section>
			<article>
				<h3>deuxieme article</h3>
			</article>
			<article>
				<h3>troisieme article</h3>
			</article>
	</main>

{% endblock %}
