<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
{% block header %}
{% include "./layouts/_header.twig" %}
{% endblock %}
<main>
{% block main %}
{% endblock %}
</main>
{% block footer %}
{% include "./layouts/_footer.twig" %}
{% endblock %}

{% block script %}{% endblock %}
    
</body>
</html>