<section id="about">
	<article id="aboutTiTe">
		<div class="title">
			<h2>A propos</h2>
			<div class="separator"></div>
			<h2 class="mirroir">A propos</h2>
		</div>

		<div id="aboutText">
			<div id="textDiv">
				<p>Bonjour,</p>
				<p>Je m'appelle Sébastien, je suis originaire de Marseille et je suis développeur Web.
									Lors de mes précedentes expériences professionnelles j'ai eu la chance d'être infirmier ce qui m'a doté d'un sens accru des responsabilités ainsi que des compétences en matière de travail collaboratif.
									Je suis très antoushiaste à l'idée d'apporter cette expertise à mes futures activités dans le monde du développement.</p>
			</div>
		</div>
	</article>
	<div id="techno">
		<img class="technoImg" src="images/icons8-html-50.png" alt="icon-html">
		<img class="technoImg" src="images/icons8-css-50.png" alt="icon-css">
		<img class="technoImg" src="images/icons8-java-script-50.png" alt="icon-js">
		<img class="technoImg" src="images/icons8-nœud-js-50.png" alt="icon-nodeJs">
		<img class="technoImg" src="images/icons8-php-50.png" alt="icon-php">
		<img class="technoImg" src="images/icons8-git-50.png" alt="icon-git">
		<img class="technoImg" src="images/icons8-mongodb-50.png" alt="icon-mongodb">
		<img class="technoImg" src="images/icons8-sql-50.png" alt="icon-sql">
		<img class="technoImg" src="images/icons8-linux-50.png" alt="icon-linux">
	</div>
	<div class="buble"></div>
</section>
