<section id="contact">
	<div>
		<div class="title">
			<h2>Contact</h2>
			<div class="separator"></div>
			<h2 class="mirroir">Contact</h2>
		</div>
		<form id= "formContact"action="sendmail" method="post">
			<input id="name" type="text" name="name" placeholder= "Nom">
			<input id="firstName" type="text" name="firstName" placeholder= "Prénom">
			<input id="mail" type="text" name="mail" placeholder= "Email">
			<textarea name="textArea" id="textArea" cols="30" rows="10" placeholder= "Entrer votre message"></textarea>
			<button>Envoyer</button>
		</form>
	</div>

</section>
