<section id="works">
	<div id="worksTiLi">
		<div class="title">
			<h2>Projets</h2>
			<div class="separator"></div>
			<h2 class="mirroir">Projets</h2>
		</div>
		<div id="link">
			<h2>Liens</h2>
			Liens github/Liens jouable
		</div>
	</div>
	<article>
		CAROUSEL
	</article>
	<div class="buble">

	</div>
</section>
