{% extends "base.twig" %}

{% block main %}
	<div >
		{% include "main/_home.twig" %}
		
		{% include "main/_about.twig" %}
		
		{% include "main/_work.twig" %}
	
		{% include "main/_contact.twig" %}
		<hr>
	</div>

{% endblock %}
